<div class="container-fluid authentication-screen">
  <div class="container-fluid authentication-container">
    <!-- Logo -->
    <div class="logo-container">
      <img class="logo" src="../../../assets/logos/ThrowingProgressionPro.png" alt="logo" width="100" height="100" />
    </div>

    <div class="authentication-form">
      <h4 *ngIf="formType === 'register'" class="display-4" [@fade]>Register for an Account</h4>
      <h4 *ngIf="formType === 'login'" class="display-4" [@fade]>Login to your Account</h4>
      <div class="d-flex switch-panel mb-5">
        <button [disabled]="formType === 'register' || buttonState === 'loading'" (click)="switchForm()">
          <span [ngClass]="formType === 'register' ? 'current-state me-4' : 'me-4'" class="display-6">SIGN UP</span>
        </button>
        <button
          [ngClass]="formType === 'login' ? 'current-state me-4' : 'me-4'"
          [disabled]="formType === 'login' || buttonState === 'loading'"
          (click)="switchForm()"
        >
          <span class="display-6">LOG IN</span>
        </button>
      </div>

      <!-- Registration -->
      <form [formGroup]="authenticationForm" (submit)="formType === 'login' ? login() : register()">
        <!-- Email -->
        <div class="form-group mb-3">
          <input type="text" class="form-control" formControlName="email" placeholder="Email Address" />
          <div *ngIf="f.email.touched && f.email.dirty" class="error-text m-0">
            <p *ngIf="f.email.errors?.email"><i class="bi bi-x-circle-fill m-1"></i>Please enter a valid Email.</p>
            <p *ngIf="f.email.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>Email is required to log in.</p>
          </div>
        </div>

        <!-- Password -->
        <div class="form-group mb-3">
          <input type="password" class="form-control" formControlName="password" placeholder="Password" />
          <div *ngIf="f.password.touched && f.password.dirty" class="error-text">
            <p *ngIf="f.password.errors?.required">
              <i class="bi bi-x-circle-fill me-1"></i>Password is required to login.
            </p>
            <p *ngIf="f.password.errors?.minlength">
              <i class="bi bi-x-circle-fill me-1"></i>Password must be atleast 8 characters long.
            </p>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="form-group" *ngIf="formType === 'register'" [@fadeInOut]>
          <input
            type="password"
            class="form-control"
            formControlName="confirm_password"
            placeholder="Confirm Password"
          />
          <div
            *ngIf="(f.password.touched || f.password.dirty) && (f.confirm_password.touched || f.confirm_password.dirty)"
            class="error-text"
          >
            <p *ngIf="authenticationForm.errors?.['mismatch']">
              <i class="bi bi-x-circle-fill me-1"></i>Passwords do not match.
            </p>
            <p *ngIf="!authenticationForm.errors?.['mismatch']" style="color: green">
              <i class="bi bi-check-circle-fill me-1"></i>Passwords matched
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-center mt-4 mb-3">
          <button
            class="btn btn-primary btn-authenticate"
            type="submit"
            (click)="formType === 'login' ? login() : register()"
            [disabled]="authenticationForm.invalid || buttonState === 'loading'"
          >
            <span *ngIf="buttonState === 'static'">{{ formType === 'login' ? 'Login' : 'Sign up' }}</span>
            <div *ngIf="buttonState === 'loading'">
              <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
              <span>{{ formType === 'login' ? 'Logging you in' : 'Signing you up' }}</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
