<!-- Survey Screen//start -->
<div class="container-fluid d-flex survey-screen" *ngIf="surveyScreen" [@fade]>
  <div class="container-fluid survey-container">
    <img class="logo" src="assets/logos/Throwing Progression Pro-02.png" />
    <h1 class="display-4 mb-5"><u>Survey</u></h1>

    <p class="display-5">Please select the type of injury you recieved:</p>

    <!-- Option 1; Surgery -->
    <div class="d-flex justify-content-center mt-4">
      <button
        class="btn btn-primary btn-confirm"
        type="button"
        (click)="questionnaireSelect('surgery')"
        [disabled]="surgeryOptionState === 'loading' || nonSurgeryOptionState === 'loading'"
      >
        <span *ngIf="surgeryOptionState === 'static'" class="display-6">Surgery</span>
        <div *ngIf="surgeryOptionState === 'loading'">
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          <span class="display-6">Customizing your form...</span>
        </div>
      </button>
    </div>

    <!-- Option 2; Non-Surgery -->
    <div class="d-flex justify-content-center mt-3 mb-3">
      <button
        class="btn btn-primary btn-confirm"
        type="button"
        (click)="questionnaireSelect('non-surgery')"
        [disabled]="nonSurgeryOptionState === 'loading' || surgeryOptionState === 'loading'"
      >
        <span *ngIf="nonSurgeryOptionState === 'static'" class="display-6">Non-Surgery</span>
        <div *ngIf="nonSurgeryOptionState === 'loading'">
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          <span class="display-6">Customizing your form...</span>
        </div>
      </button>
    </div>
  </div>
</div>
<!-- Survey Screen//end -->

<!-- Questionnaire//start -->
<div class="container-fluid d-flex survey-sub-screen" *ngIf="questionnaireRendered">
  <div class="container-fluid d-flex survey-container" *ngIf="questionnaireRendered" [@fade]>
    <div class="d-flex title-bar">
      <i class="bi bi-arrow-left" (click)="navBack()"></i>
      <h1 class="display-2">Conte</h1>
    </div>
    <h1 class="display-4 mb-4">
      <b>{{ questionnaireType === 'surgery' ? 'Surgery Questionnaire' : 'Non-Surgery Questionnaire' }}</b
      ><i class="bi bi-clipboard2-check ms-1"></i>
    </h1>
    <form [formGroup]="questionnaire" (submit)="confirmQuestionnaire()">
      <!--------------------------------->
      <!--  POSITION DETAILS -->
      <!--------------------------------->
      <p class="display-5 mt-5"><b>Position Details</b><i class="bi bi-journal-medical ms-1"></i></p>

      <!-- Position//start -->
      <div *ngIf="f.position.touched || f.position.dirty" class="error-text">
        <p *ngIf="f.position.errors?.required">
          <i class="bi bi-x-circle-fill me-1"></i>Position selection is required.
        </p>
      </div>

      <select
        formControlName="position"
        [ngClass]="
          (f.position.touched || f.position.dirty) && f.position.errors
            ? 'form-select question error-input '
            : 'form-select question '
        "
      >
        <option value="" disabled hidden>Choose your Position*</option>
        <option value="pitcher">Pitcher</option>
        <option value="infielder">Infielder</option>
        <option value="outfielder">Outfielder</option>
        <option value="catcher">Catcher</option>
      </select>
      <!-- Position//end -->

      <!-- EMV//start -->
      <div *ngIf="f.estimated_max_velocity.touched || f.estimated_max_velocity.dirty" class="error-text">
        <p *ngIf="f.estimated_max_velocity.errors?.required">
          <i class="bi bi-x-circle-fill me-1"></i>Estimated Max Velocity is required.
        </p>
      </div>

      <div *ngIf="f.estimated_max_velocity.touched && f.estimated_max_velocity.dirty" class="error-text">
        <p *ngIf="f.estimated_max_velocity.errors?.pattern">
          <i class="bi bi-x-circle-fill me-1"></i>EMV can only contain numbers.
        </p>
      </div>
      <input
        type="text"
        [ngClass]="
          (f.estimated_max_velocity.touched || f.estimated_max_velocity.dirty) && f.estimated_max_velocity.errors
            ? 'form-control question error-input '
            : 'form-control question'
        "
        placeholder="Estimated Max Velocity(MH)*"
        formControlName="estimated_max_velocity"
      />
      <!-- EMV//end -->

      <!-------------------------------->
      <!-- SURGERY/INJURY DETAILS -->
      <!-------------------------------->
      <p class="display-5 mt-5">
        <b>{{ questionnaireType === 'surgery' ? 'Surgery Details' : 'Injury Details' }}</b
        ><i class="bi bi-clipboard2-pulse ms-1"></i>
      </p>

      <!--  Doctor//start -->
      <div *ngIf="f.doctor.touched || f.doctor.dirty" class="error-text">
        <p *ngIf="f.doctor.errors?.required">
          <i class="bi bi-x-circle-fill me-1"></i>
          {{ questionnaireType === 'surgery' ? 'Surgeon selection is required' : 'Doctor selection is required' }}
        </p>
      </div>

      <select
        formControlName="doctor"
        (change)="questionnaireType === 'surgery' ? getSurgeries($any($event.target).value) : ''"
        [ngClass]="
          (f.doctor.touched || f.doctor.dirty) && f.doctor.errors
            ? 'form-select select error-input '
            : 'form-select select'
        "
      >
        <option value="" disabled hidden>
          {{ questionnaireType === 'surgery' ? 'Choose your Surgeon*' : 'Choose your Doctor*' }}
        </option>
        <option *ngFor="let doctor of doctors" [value]="doctor.id" [selected]="doctor.id === f.doctor.value">
          {{ doctor.name }}
        </option>
      </select>
      <!--  Doctor//end -->

      <!-- NON-SURGERY || Doctor Dictation//start -->
      <ng-container *ngIf="questionnaireType === 'non-surgery'">
        <div *ngIf="f.doctor_dictation.touched || f.doctor_dictation.dirty" class="error-text">
          <p *ngIf="f.doctor_dictation.errors?.required">
            <i class="bi bi-x-circle-fill me-1"></i>Doctor Dictation is required.
          </p>
        </div>

        <input
          type="text"
          [ngClass]="
            (f.doctor_dictation.touched || f.doctor_dictation.dirty) && f.doctor_dictation.errors
              ? 'form-control question error-input '
              : 'form-control question '
          "
          placeholder="Doctor Dictation*"
          formControlName="doctor_dictation"
        />
      </ng-container>
      <!-- NON-SURGERY || Doctor Dictation//end -->

      <!-- SURGERY || Surgery Date//start -->
      <ng-container *ngIf="questionnaireType === 'surgery'">
        <div *ngIf="f.surgery_date.touched || f.surgery_date.dirty" class="error-text">
          <p *ngIf="f.surgery_date.errors?.required">
            <i class="bi bi-x-circle-fill me-1"></i>Surgery Date is required.
          </p>
        </div>

        <input
          placeholder="Surgery Date*"
          [ngClass]="
            (f.surgery_date.touched || f.surgery_date.dirty) && f.surgery_date.errors
              ? 'form-control question error-input '
              : 'form-control question'
          "
          type="text"
          onfocus="(this.type='date')"
          onblur="(this.type='text')"
          max="9999-12-31"
          formControlName="surgery_date"
      /></ng-container>
      <!-- SURGERY || Surgery Date//end -->

      <!-- SURGERY || Primary Surgery//start -->
      <ng-container *ngIf="questionnaireType === 'surgery'">
        <div *ngIf="f.primary_surgery.touched || f.primary_surgery.dirty" class="error-text">
          <p *ngIf="f.primary_surgery.errors?.required">
            <i class="bi bi-x-circle-fill me-1"></i>Primary Surgery is required.
          </p>
        </div>

        <select
          formControlName="primary_surgery"
          [ngClass]="
            (f.primary_surgery.touched || f.primary_surgery.dirty) && f.primary_surgery.errors
              ? 'form-select question error-input '
              : 'form-select question'
          "
        >
          <option value="" hidden disabled selected>Choose Primary Surgery*</option>
          <option value="" *ngIf="!surgeries.length" disabled>Please choose a Doctor First</option>
          <ng-container *ngIf="surgeries">
            <option *ngFor="let surgery of surgeries" [value]="surgery.id">
              {{ surgery.name }}
            </option></ng-container
          >
        </select></ng-container
      >
      <!-- SURGERY || Primary Surgery//end -->

      <!-- SURGERY || Secondary Surgery//start -->
      <ng-container *ngIf="questionnaireType === 'surgery'">
        <select
          formControlName="secondary_surgery"
          [ngClass]="
            (f.secondary_surgery.touched || f.secondary_surgery.dirty) && f.secondary_surgery.errors
              ? 'form-select question error-input '
              : 'form-select question'
          "
        >
          <option value="" hidden disabled selected>Choose Secondary Surgery</option>
          <option value="" *ngIf="!surgeries.length" disabled>Please choose a Doctor First</option>
          <ng-container *ngIf="surgeries">
            <option *ngFor="let surgery of surgeries" [value]="surgery.id">
              {{ surgery.name }}
            </option></ng-container
          >
        </select></ng-container
      >
      <!-- SURGERY || Secondary Surgery//end -->

      <!-- NON-SURGERY || Injury Date//start -->
      <ng-container *ngIf="questionnaireType === 'non-surgery'">
        <div *ngIf="f.injury_date.touched || f.injury_date.dirty" class="error-text">
          <p *ngIf="f.injury_date.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>Injury date is required.</p>
        </div>

        <input
          placeholder="Injury Date*"
          [ngClass]="
            (f.injury_date.touched || f.injury_date.dirty) && f.injury_date.errors
              ? 'form-control question error-input '
              : 'form-control question '
          "
          type="text"
          onfocus="(this.type='date')"
          onblur="(this.type='text')"
          max="9999-12-31"
          formControlName="injury_date"
      /></ng-container>
      <!-- NON-SURGERY || Injury Date//end -->

      <!-- NON-SURGERY || Injury//start -->
      <ng-container *ngIf="questionnaireType === 'non-surgery'">
        <div *ngIf="f.injury.touched || f.injury.dirty" class="error-text">
          <p *ngIf="f.injury.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>Injury name is required.</p>
        </div>

        <input
          type="text"
          [ngClass]="
            (f.injury.touched || f.injury.dirty) && f.injury.errors
              ? 'form-control question error-input '
              : 'form-control question '
          "
          placeholder="Injury Occured*"
          formControlName="injury"
      /></ng-container>
      <!-- NON-SURGERY || Injury//end -->

      <!-------------------------------------------->
      <!-- DEMOGRAPHIC/CONTACT DETAILS -->
      <!-------------------------------------------->
      <p class="display-5 mt-5"><b>Demographics/Contact Details</b><i class="bi bi-person-badge-fill ms-1"></i></p>

      <!-- First & Last Name//start -->
      <div
        *ngIf="f.first_name.touched || f.first_name.dirty || f.last_name.touched || f.last_name.dirty"
        class="error-text"
      >
        <p *ngIf="f.first_name.errors?.required || f.last_name.errors?.required">
          <i class="bi bi-x-circle-fill me-1"></i>Name is required.
        </p>
      </div>

      <div *ngIf="f.first_name.touched && f.first_name.dirty" class="error-text">
        <p *ngIf="f.first_name.errors?.minlength">
          <i class="bi bi-x-circle-fill me-1"></i>First name should be between 2 and 20 characters.
        </p>
        <p *ngIf="f.first_name.errors?.maxlength">
          <i class="bi bi-x-circle-fill me-1"></i>First name should be between 2 and 20 characters.
        </p>
      </div>

      <div *ngIf="f.last_name.touched && f.last_name.dirty" class="error-text">
        <p *ngIf="f.last_name.errors?.minlength">
          <i class="bi bi-x-circle-fill me-1"></i>Last name should be between 2 and 20 characters.
        </p>
        <p *ngIf="f.last_name.errors?.maxlength">
          <i class="bi bi-x-circle-fill me-1"></i>Last name should be between 2 and 20 characters.
        </p>
      </div>

      <div class="row">
        <input
          type="text"
          [ngClass]="
            (f.first_name.touched || f.first_name.dirty) && f.first_name.errors
              ? 'form-control question col me-3 error-input '
              : 'form-control question col me-3'
          "
          placeholder="First Name*"
          formControlName="first_name"
        />

        <input
          type="text"
          [ngClass]="
            (f.last_name.touched || f.last_name.dirty) && f.last_name.errors
              ? 'form-control question col  error-input '
              : 'form-control question col '
          "
          placeholder="Last Name*"
          formControlName="last_name"
        />
      </div>
      <!-- First & Last Name//end -->

      <!-- Cell Phone//start -->
      <div *ngIf="f.cell_phone.touched || f.cell_phone.dirty" class="error-text">
        <p *ngIf="f.cell_phone.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>Cell Phone is required.</p>
      </div>
      <div *ngIf="f.cell_phone.touched && f.cell_phone.dirty" class="error-text">
        <p *ngIf="f.cell_phone.errors?.pattern">
          <i class="bi bi-x-circle-fill me-1"></i>Please enter your phone number in valid format.
        </p>
      </div>

      <input
        type="text"
        class="form-control question"
        [ngClass]="
          (f.cell_phone.touched || f.cell_phone.dirty) && f.cell_phone.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        maxlength="12"
        placeholder="Cell Phone*"
        formControlName="cell_phone"
      />
      <!-- Cell Phone//end -->

      <!-- Birth Date//start -->
      <div *ngIf="f.birth_date.touched || f.birth_date.dirty" class="error-text">
        <p *ngIf="f.birth_date.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>Birth Date is required.</p>
      </div>

      <input
        placeholder="Birth Date*"
        [ngClass]="
          (f.birth_date.touched || f.birth_date.dirty) && f.birth_date.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        type="text"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
        max="2000-01-01"
        formControlName="birth_date"
      />
      <!-- Birth Date//end -->

      <!-- Address//start -->
      <div *ngIf="f.address.touched || f.address.dirty" class="error-text">
        <p *ngIf="f.address.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>Address is required.</p>
      </div>

      <input
        type="text"
        [ngClass]="
          (f.address.touched || f.address.dirty) && f.address.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        placeholder="Address*"
        formControlName="address"
      />
      <!-- Address//end -->

      <!-- City & State//start -->
      <div *ngIf="f.city.touched || f.city.dirty" class="error-text">
        <p *ngIf="f.city.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>City name is required.</p>
      </div>

      <div *ngIf="f.state.touched || f.state.dirty" class="error-text">
        <p *ngIf="f.state.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>State name is required.</p>
      </div>

      <div *ngIf="f.city.touched && f.city.dirty" class="error-text">
        <p *ngIf="f.city.errors?.pattern"><i class="bi bi-x-circle-fill me-1"></i>Invalid City name.</p>
      </div>

      <div *ngIf="f.state.touched && f.state.dirty" class="error-text">
        <p *ngIf="f.state.errors?.pattern"><i class="bi bi-x-circle-fill me-1"></i>Invalid State.</p>
      </div>

      <div class="row">
        <input
          type="text"
          [ngClass]="
            (f.city.touched || f.city.dirty) && f.city.errors
              ? 'form-control question col me-3 error-input '
              : 'form-control question col me-3 '
          "
          placeholder="City*"
          formControlName="city"
        />
        <input
          type="text"
          [ngClass]="
            (f.state.touched || f.state.dirty) && f.state.errors
              ? 'form-control question col error-input '
              : 'form-control question col '
          "
          placeholder="State*"
          formControlName="state"
        />
      </div>
      <!-- City & State//end -->

      <!-- ZIP Code//start -->
      <div *ngIf="f.zip_code.touched || f.zip_code.dirty" class="error-text">
        <p *ngIf="f.zip_code.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>ZIP Code is required.</p>
      </div>

      <div *ngIf="f.zip_code.touched && f.zip_code.dirty" class="error-text">
        <p *ngIf="f.zip_code.errors?.minlength">
          <i class="bi bi-x-circle-fill me-1"></i>ZIP code must be atleast 5 characters long.
        </p>
        <p *ngIf="f.zip_code.errors?.pattern">
          <i class="bi bi-x-circle-fill me-1"></i>ZIP code can only contain numbers.
        </p>
      </div>

      <input
        type="text"
        maxlength="5"
        [ngClass]="
          (f.zip_code.touched || f.zip_code.dirty) && f.zip_code.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        placeholder="ZIP Code*"
        formControlName="zip_code"
      />
      <!-- ZIP Code//end -->

      <!-- Form Info -->
      <div *ngIf="questionnaire.invalid" class="info-text" [@fade]>
        <p><i class="bi bi-info-circle me-1"></i>Fields marked with * are required to submit.</p>
      </div>

      <!-- Submit Button -->
      <div class="d-flex justify-content-center mt-4 mb-3">
        <button
          class="btn btn-primary btn-confirm"
          type="submit"
          (click)="confirmQuestionnaire()"
          [disabled]="questionnaire.invalid || submissionState == 'loading'"
        >
          <span *ngIf="submissionState === 'static'" class="display-6">Submit</span>
          <div *ngIf="submissionState === 'loading'">
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            <span class="display-6">Submitting...</span>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
<!-- Questionnaire//end -->
