<!-- Survey Screen//start -->
<div class="container-fluid d-flex survey-screen" *ngIf="surveyScreen" [@fade]>
  <div class="container-fluid survey-container">
    <img class="logo" src="../../assets/logos/Throwing Progression Pro-02.png" />
    <h1 class="display-4 mb-5"><u>Survey</u></h1>

    <p class="display-5">Please select the type of injury you recieved:</p>

    <!-- Option 1; Surgery -->
    <div class="d-flex justify-content-center mt-4">
      <button
        class="btn btn-primary btn-confirm"
        type="button"
        (click)="renderSurgeryForm()"
        [disabled]="surgeryOptionState === 'loading' || nonSurgeryOptionState === 'loading'"
      >
        <span *ngIf="surgeryOptionState === 'static'" class="display-6">Surgery</span>
        <div *ngIf="surgeryOptionState === 'loading'">
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          <span class="display-6">Customizing your form...</span>
        </div>
      </button>
    </div>

    <!-- Option 2; Non-Surgery -->
    <div class="d-flex justify-content-center mt-3 mb-3">
      <button
        class="btn btn-primary btn-confirm"
        type="button"
        (click)="renderNonSurgeryForm()"
        [disabled]="nonSurgeryOptionState === 'loading' || surgeryOptionState === 'loading'"
      >
        <span *ngIf="nonSurgeryOptionState === 'static'" class="display-6">Non-Surgery</span>
        <div *ngIf="nonSurgeryOptionState === 'loading'">
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          <span class="display-6">Customizing your form...</span>
        </div>
      </button>
    </div>
  </div>
</div>
<!-- Survey Screen//end -->

<!-- Questionnaire//start -->
<div class="container-fluid d-flex survey-sub-screen" *ngIf="surgeryQuestionnaire || nonSurgeryQuestionnaire">
  <!-- Surgery Questionnaire//start -->
  <div class="container-fluid d-flex survey-container" *ngIf="surgeryQuestionnaire" [@fade]>
    <div class="d-flex title-bar">
      <i class="bi bi-arrow-left" (click)="navBack()"></i>
      <h1 class="display-2">Conte PWA</h1>
    </div>
    <h1 class="display-4 mb-4"><b>Surgery Questionnaire</b><i class="bi bi-clipboard2-check ms-1"></i></h1>
    <form [formGroup]="surgeryForm" (submit)="confirmSurgeryForm()">
      <!--  SURGERY || Position Details -->
      <p class="display-5 mt-5"><u>Position Details</u><i class="bi bi-journal-medical ms-1"></i></p>
      <select
        formControlName="doctor"
        (change)="getSurgeries($any($event.target).value)"
        [ngClass]="
          (f.doctor.touched || f.doctor.dirty) && f.doctor.errors
            ? 'form-select select error-input '
            : 'form-select select'
        "
      >
        <option value="" disabled hidden>Choose your Doctor*</option>
        <option *ngFor="let doctor of doctors" [value]="doctor.id" [selected]="doctor.id === f.doctor.value">
          {{ doctor.name }}
        </option>
      </select>

      <!-- <input
        type="text"
        [ngClass]="
          (f.doctor.touched || f.doctor.dirty) && f.doctor.errors
            ? 'form-control question error-input '
            : 'form-control question'
        "
        placeholder="Doctor*"
        formControlName="doctor"
      /> -->

      <select
        formControlName="position"
        [ngClass]="
          (f.position.touched || f.position.dirty) && f.position.errors
            ? 'form-select question error-input '
            : 'form-select question '
        "
      >
        <option value="" disabled hidden>Choose your Position*</option>
        <option value="pitcher">Pitcher</option>
        <option value="infielder">Infielder</option>
        <option value="outfielder">Outfielder</option>
        <option value="catcher">Catcher</option>
      </select>

      <!--  SURGERY || Estimated Max Velocity with Validation -->
      <div *ngIf="f.estimated_max_velocity.touched && f.estimated_max_velocity.dirty" class="error-text">
        <p *ngIf="f.estimated_max_velocity.errors?.pattern">
          <i class="bi bi-x-circle-fill me-1"></i>EMV can only contain numbers.
        </p>
      </div>
      <input
        type="text"
        [ngClass]="
          (f.estimated_max_velocity.touched || f.estimated_max_velocity.dirty) && f.estimated_max_velocity.errors
            ? 'form-control question error-input '
            : 'form-control question'
        "
        placeholder="Estimated Max Velocity(MH)*"
        formControlName="estimated_max_velocity"
      />

      <!--  SURGERY || Surgery Details -->
      <p class="display-5"><u>Surgery Details</u><i class="bi bi-clipboard2-pulse ms-1"></i></p>
      <input
        placeholder="Surgery Date*"
        [ngClass]="
          (f.surgery_date.touched || f.surgery_date.dirty) && f.surgery_date.errors
            ? 'form-control question error-input '
            : 'form-control question'
        "
        type="date"
        max="9999-12-31"
        formControlName="surgery_date"
      />

      <select
        formControlName="primary_surgery"
        [ngClass]="
          (f.primary_surgery.touched || f.primary_surgery.dirty) && f.primary_surgery.errors
            ? 'form-select question error-input '
            : 'form-select question'
        "
      >
        <option value="" hidden disabled selected>Choose Primary Surgery*</option>
        <option value="" *ngIf="!surgeries.length" disabled>Please choose a Doctor First</option>
        <ng-container *ngIf="surgeries">
          <option *ngFor="let surgery of surgeries" [value]="surgery.id">
            {{ surgery.name }}
          </option></ng-container
        >
      </select>

      <!-- <input
        type="text"
        [ngClass]="
          (f.primary_surgery.touched || f.primary_surgery.dirty) && f.primary_surgery.errors
            ? 'form-control question error-input '
            : 'form-control question'
        "
        placeholder="Primary Surgery*"
        formControlName="primary_surgery"
      /> -->

      <select
        formControlName="secondary_surgery"
        [ngClass]="
          (f.secondary_surgery.touched || f.secondary_surgery.dirty) && f.secondary_surgery.errors
            ? 'form-select question error-input '
            : 'form-select question'
        "
      >
        <option value="" hidden disabled selected>Choose Secondary Surgery</option>
        <option value="" *ngIf="!surgeries.length" disabled>Please choose a Doctor First</option>
        <ng-container *ngIf="surgeries">
          <option *ngFor="let surgery of surgeries" [value]="surgery.id">
            {{ surgery.name }}
          </option></ng-container
        >
      </select>

      <!-- <input
        type="text"
        [ngClass]="
          (f.secondary_surgery.touched || f.secondary_surgery.dirty) && f.secondary_surgery.errors
            ? 'form-control question error-input '
            : 'form-control question'
        "
        placeholder="Secondary Surgery*"
        formControlName="secondary_surgery"
      /> -->

      <!-- SURGERY || Demographic/Contact Details -->
      <p class="display-5 mt-5"><u>Demographics/Contact Details</u><i class="bi bi-person-badge-fill ms-1"></i></p>

      <!-- SURGERY || First & Last Name//start -->
      <div
        *ngIf="f.first_name.touched || f.first_name.dirty || f.last_name.touched || f.last_name.dirty"
        class="error-text"
      >
        <p *ngIf="f.first_name.errors?.required || f.last_name.errors?.required">
          <i class="bi bi-x-circle-fill me-1"></i>Name is required.
        </p>
      </div>

      <div *ngIf="f.first_name.touched && f.first_name.dirty" class="error-text">
        <p *ngIf="f.first_name.errors?.minlength">
          <i class="bi bi-x-circle-fill me-1"></i>First name should be between 2 and 20 characters.
        </p>
        <p *ngIf="f.first_name.errors?.maxlength">
          <i class="bi bi-x-circle-fill me-1"></i>First name should be between 2 and 20 characters.
        </p>
      </div>

      <div *ngIf="f.last_name.touched && f.last_name.dirty" class="error-text">
        <p *ngIf="f.last_name.errors?.minlength">
          <i class="bi bi-x-circle-fill me-1"></i>Last name should be between 2 and 20 characters.
        </p>
        <p *ngIf="f.last_name.errors?.maxlength">
          <i class="bi bi-x-circle-fill me-1"></i>Last name should be between 2 and 20 characters.
        </p>
      </div>

      <div class="row">
        <input
          type="text"
          [ngClass]="
            (f.first_name.touched || f.first_name.dirty) && f.first_name.errors
              ? 'form-control question col me-3 error-input '
              : 'form-control question col me-3'
          "
          placeholder="First Name*"
          formControlName="first_name"
        />

        <input
          type="text"
          [ngClass]="
            (f.last_name.touched || f.last_name.dirty) && f.last_name.errors
              ? 'form-control question col  error-input '
              : 'form-control question col '
          "
          placeholder="Last Name*"
          formControlName="last_name"
        />
      </div>
      <!-- SURGERY || First & Last Name//end -->

      <!-- SURGERY || Cell Phone//start -->
      <div *ngIf="f.cell_phone.touched && f.cell_phone.dirty" class="error-text">
        <p *ngIf="f.cell_phone.errors?.pattern">
          <i class="bi bi-x-circle-fill me-1"></i>Please enter your phone number in valid format.
        </p>
      </div>
      <div *ngIf="f.cell_phone.touched || f.cell_phone.dirty" class="error-text">
        <p *ngIf="f.cell_phone.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>Cell Phone is required.</p>
      </div>

      <input
        type="text"
        class="form-control question"
        [ngClass]="
          (f.cell_phone.touched || f.cell_phone.dirty) && f.cell_phone.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        placeholder="Cell Phone*"
        formControlName="cell_phone"
      />
      <!-- SURGERY || Cell Phone//end -->

      <!-- SURGERY || Birth Date//start -->
      <div *ngIf="f.birth_date.touched || f.birth_date.dirty" class="error-text">
        <p *ngIf="f.birth_date.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>Birth Date is required.</p>
      </div>
      <input
        placeholder="Birth Date*"
        [ngClass]="
          (f.birth_date.touched || f.birth_date.dirty) && f.birth_date.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        type="date"
        max="2000-01-01"
        formControlName="birth_date"
      />
      <!-- SURGERY || Birth Date//end -->

      <!-- SURGERY || Address//start -->
      <div *ngIf="f.address.touched || f.address.dirty" class="error-text">
        <p *ngIf="f.address.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>Address is required.</p>
      </div>
      <input
        type="text"
        [ngClass]="
          (f.address.touched || f.address.dirty) && f.address.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        placeholder="Address*"
        formControlName="address"
      />
      <!-- SURGERY || Address//end -->

      <!-- SURGERY || City & State//start -->
      <div *ngIf="f.city.touched || f.city.dirty" class="error-text">
        <p *ngIf="f.city.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>City name is required.</p>
      </div>

      <div *ngIf="f.city.touched && f.city.dirty" class="error-text">
        <p *ngIf="f.city.errors?.pattern"><i class="bi bi-x-circle-fill me-1"></i>Invalid City name.</p>
        <p *ngIf="f.city.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>City name is required.</p>
      </div>

      <div *ngIf="f.state.touched || f.state.dirty" class="error-text">
        <p *ngIf="f.state.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>State name is required.</p>
      </div>

      <div *ngIf="f.state.touched && f.state.dirty" class="error-text">
        <p *ngIf="f.state.errors?.pattern"><i class="bi bi-x-circle-fill me-1"></i>Invalid State.</p>
        <p *ngIf="f.state.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>State name is required.</p>
      </div>

      <div class="row">
        <input
          type="text"
          [ngClass]="
            (f.city.touched || f.city.dirty) && f.city.errors
              ? 'form-control question col me-3 error-input '
              : 'form-control question col me-3 '
          "
          placeholder="City*"
          formControlName="city"
        />
        <input
          type="text"
          [ngClass]="
            (f.state.touched || f.state.dirty) && f.state.errors
              ? 'form-control question col error-input '
              : 'form-control question col '
          "
          placeholder="State*"
          formControlName="state"
        />
      </div>
      <!-- SURGERY || City & State//end -->

      <!-- SURGERY || ZIP Code//start -->
      <div *ngIf="f.zip_code.touched || f.zip_code.dirty" class="error-text">
        <p *ngIf="f.zip_code.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>ZIP Code is required.</p>
      </div>

      <div *ngIf="f.zip_code.touched && f.zip_code.dirty" class="error-text">
        <p *ngIf="f.zip_code.errors?.minlength">
          <i class="bi bi-x-circle-fill me-1"></i>ZIP code must be atleast 5 characters long.
        </p>
        <p *ngIf="f.zip_code.errors?.pattern">
          <i class="bi bi-x-circle-fill me-1"></i>ZIP code can only contain numbers.
        </p>
      </div>

      <input
        type="text"
        maxlength="5"
        [ngClass]="
          (f.zip_code.touched || f.zip_code.dirty) && f.zip_code.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        placeholder="ZIP Code*"
        formControlName="zip_code"
      />
      <!-- SURGERY || ZIP Code//end -->

      <!-- SURGERY || Form Info -->
      <div *ngIf="surgeryForm.invalid" class="info-text" [@fade]>
        <p><i class="bi bi-info-circle me-1"></i>Fields marked with * are required to submit.</p>
      </div>

      <!-- SURGERY || Submit Button -->
      <div class="d-flex justify-content-center mt-4 mb-3">
        <button
          class="btn btn-primary btn-confirm"
          type="submit"
          (click)="confirmSurgeryForm()"
          [disabled]="surgeryForm.invalid || surgeryOptionState == 'loading' || surgeryOptionState == 'loading'"
        >
          <span *ngIf="surgeryOptionState === 'static'" class="display-6">Submit</span>
          <div *ngIf="surgeryOptionState === 'loading'">
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            <span class="display-6">Submitting...</span>
          </div>
        </button>
      </div>
    </form>
  </div>
  <!-- Surgery Questionnaire//end -->

  <!-- -------------------------- -->

  <!-- Non Surgery Questionnaire//start -->
  <div class="container-fluid d-flex survey-container" *ngIf="nonSurgeryQuestionnaire" [@fade]>
    <div class="d-flex title-bar">
      <i class="bi bi-arrow-left" (click)="navBack()"></i>
      <h1 class="display-2">Conte PWA</h1>
    </div>
    <h1 class="display-4 mb-4"><b>Non-Surgery Questionnaire</b><i class="bi bi-clipboard2-check ms-1"></i></h1>
    <form [formGroup]="nonSurgeryForm" (submit)="confirmNonSurgeryForm()">
      <!--  NON-SURGERY || Position Details -->
      <p class="display-5 mt-3"><u>Position Details</u><i class="bi bi-journal-medical ms-1"></i></p>
        <select
        formControlName="doctor"
        (change)="getSurgeries($any($event.target).value)"
        [ngClass]="
          (f2.doctor.touched || f2.doctor.dirty) && f2.doctor.errors
            ? 'form-select question error-input '
            : 'form-select question '
        "
      >
        <option value="" disabled hidden>Choose your Doctor*</option>
        <option *ngFor="let doctor of doctors" [value]="doctor.id" [selected]="doctor.id === f2.doctor.value">
          {{ doctor.name }}
        </option>
      </select>

      <input
        type="text"
        [ngClass]="
          (f2.doctor.touched || f2.doctor.dirty) && f2.doctor.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        placeholder="Doctor*"
        formControlName="doctor"
      />

      <input
        type="text"
        [ngClass]="
          (f2.doctor_dictation.touched || f2.doctor_dictation.dirty) && f2.doctor_dictation.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        placeholder="Doctor Dictation*"
        formControlName="doctor_dictation"
      />

      <select
        formControlName="position"
        [ngClass]="
          (f2.position.touched || f2.position.dirty) && f2.position.errors
            ? 'form-select question error-input '
            : 'form-select question '
        "
      >
        <option value="" disabled hidden>Choose your Position*</option>
        <option value="pitcher">Pitcher</option>
        <option value="infielder">Infielder</option>
        <option value="outfielder">Outfielder</option>
        <option value="catcher">Catcher</option>
      </select>

      <div *ngIf="f2.estimated_max_velocity.touched && f2.estimated_max_velocity.dirty" class="error-text">
        <p *ngIf="f2.estimated_max_velocity.errors?.pattern">
          <i class="bi bi-x-circle-fill me-1"></i>EMV can only contain numbers.
        </p>
      </div>
      <input
        type="text"
        [ngClass]="
          (f2.estimated_max_velocity.touched || f2.estimated_max_velocity.dirty) && f2.estimated_max_velocity.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        placeholder="Estimated Max Velocity*"
        formControlName="estimated_max_velocity"
      />

      <!-- NON-SURGERY || Injury Details -->
      <p class="display-5"><u>Injury Details</u><i class="bi bi-clipboard2-pulse ms-1"></i></p>
      <input
        placeholder="Injury Date*"
        [ngClass]="
          (f2.injury_date.touched || f2.injury_date.dirty) && f2.injury_date.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        type="date"
        max="9999-12-31"
        formControlName="injury_date"
      />

      <!-- <select
        [ngClass]="
          (f2.injury.touched || f2.injury.dirty) && f2.injury.errors
            ? 'form-select question error-input '
            : 'form-select question '
        "
        formControlName="injury"
      >
        <option value="" disabled hidden>Choose Injury*</option>
        <option value="Surgery 1">Surgery One</option>
        <option value="Surgery 2">Surgery Two</option>
        <option value="Surgery 3">Surgery Three</option>
      </select> -->

      <input
        type="text"
        [ngClass]="
          (f2.injury.touched || f2.injury.dirty) && f2.injury.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        placeholder="Injury Occured*"
        formControlName="injury"
      />

      <!-- NON-SURGERY || Demographic/Contact Details -->
      <p class="display-5 mt-3"><u>Demographics/Contact Details</u><i class="bi bi-person-badge-fill ms-1"></i></p>

      <!-- NON-SURGERY || First & Last Name Validation -->
      <div *ngIf="f2.first_name.touched && f2.first_name.dirty" class="error-text">
        <p *ngIf="f2.first_name.errors?.minlength">
          <i class="bi bi-x-circle-fill me-1"></i>First name should be between 2 and 20 characters.
        </p>
        <p *ngIf="f2.first_name.errors?.maxlength">
          <i class="bi bi-x-circle-fill me-1"></i>First name should be between 2 and 20 characters.
        </p>
      </div>

      <div *ngIf="f2.last_name.touched && f2.last_name.dirty" class="error-text">
        <p *ngIf="f2.last_name.errors?.minlength">
          <i class="bi bi-x-circle-fill me-1"></i>Last name should be between 2 and 20 characters.
        </p>
        <p *ngIf="f2.last_name.errors?.maxlength">
          <i class="bi bi-x-circle-fill me-1"></i>Last name should be between 2 and 20 characters.
        </p>
      </div>

      <div class="row">
        <input
          type="text"
          [ngClass]="
            (f2.first_name.touched || f2.first_name.dirty) && f2.first_name.errors
              ? 'form-control question col me-3 error-input '
              : 'form-control question col me-3 '
          "
          placeholder="First Name*"
          formControlName="first_name"
        />
        <input
          type="text"
          [ngClass]="
            (f2.last_name.touched || f2.last_name.dirty) && f2.last_name.errors
              ? 'form-control question col  error-input '
              : 'form-control question col  '
          "
          placeholder="Last Name*"
          formControlName="last_name"
        />
      </div>

      <!-- NON-SURGERY || Cell Phone with Validation -->
      <div *ngIf="f2.cell_phone.touched && f2.cell_phone.dirty" class="error-text">
        <p *ngIf="f2.cell_phone.errors?.pattern">
          <i class="bi bi-x-circle-fill me-1"></i>Please enter your phone number in valid format.
        </p>
      </div>
      <input
        type="text"
        [ngClass]="
          (f2.cell_phone.touched || f2.cell_phone.dirty) && f2.cell_phone.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        placeholder="Cell Phone*"
        formControlName="cell_phone"
      />

      <input
        placeholder="Birth Date*"
        [ngClass]="
          (f2.birth_date.touched || f2.birth_date.dirty) && f2.birth_date.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        type="date"
        max="2000-01-01"
        formControlName="birth_date"
      />

      <input
        type="text"
        [ngClass]="
          (f2.address.touched || f2.address.dirty) && f2.address.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        placeholder="Address*"
        formControlName="address"
      />

      <!-- NON-SURGERY || City & State Validation -->
      <div *ngIf="f2.city.touched && f2.city.dirty" class="error-text">
        <p *ngIf="f2.city.errors?.pattern"><i class="bi bi-x-circle-fill me-1"></i>Invalid City name.</p>
      </div>

      <div *ngIf="f2.state.touched && f2.state.dirty" class="error-text">
        <p *ngIf="f2.state.errors?.pattern"><i class="bi bi-x-circle-fill me-1"></i>Invalid State.</p>
      </div>

      <div class="row">
        <input
          type="text"
          [ngClass]="
            (f2.city.touched || f2.city.dirty) && f2.city.errors
              ? 'form-control question col me-3 error-input '
              : 'form-control question col me-3 '
          "
          placeholder="City*"
          formControlName="city"
        />
        <input
          type="text"
          [ngClass]="
            (f2.state.touched || f2.state.dirty) && f2.state.errors
              ? 'form-control question col error-input '
              : 'form-control question col '
          "
          placeholder="State*"
          formControlName="state"
        />
      </div>

      <!-- NON-SURGERY || ZIP Code with validation -->
      <div *ngIf="f2.zip_code.touched && f2.zip_code.dirty" class="error-text">
        <p *ngIf="f2.zip_code.errors?.minlength">
          <i class="bi bi-x-circle-fill me-1"></i>ZIP code must be atleast 5 characters long.
        </p>
        <p *ngIf="f2.zip_code.errors?.pattern">
          <i class="bi bi-x-circle-fill me-1"></i>ZIP code can only contain numbers.
        </p>
      </div>
      <input
        type="text"
        maxlength="5"
        [ngClass]="
          (f2.zip_code.touched || f2.zip_code.dirty) && f2.zip_code.errors
            ? 'form-control question error-input '
            : 'form-control question '
        "
        placeholder="ZIP Code*"
        formControlName="zip_code"
      />

      <!-- NON-SURGERY || Form Info -->
      <div *ngIf="nonSurgeryForm.invalid" class="info-text" [@fade]>
        <p><i class="bi bi-info-circle me-1"></i>Fields marked with * are required to submit.</p>
      </div>

      <!-- NON-SURGERY || Submit Button -->
      <div class="d-flex justify-content-center mt-3 mb-3">
        <button
          class="btn btn-primary btn-confirm"
          type="submit"
          (click)="confirmNonSurgeryForm()"
          [disabled]="
            nonSurgeryForm.invalid || nonSurgeryOptionState == 'loading' || nonSurgeryOptionState == 'loading'
          "
        >
          <span *ngIf="nonSurgeryOptionState === 'static'" class="display-6">Submit</span>
          <div *ngIf="nonSurgeryOptionState === 'loading'">
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            <span class="display-6">Submitting...</span>
          </div>
        </button>
      </div>
    </form>
  </div>
  <!-- Non Surgery Questionnaire//end -->
</div>
<!-- Questionnaire//end -->
