.survey-screen {
  height: 100vh;
  background: radial-gradient(ellipse at right bottom, rgb(161, 129, 59, 0.8) 0%, rgb(19, 37, 118) 100%);
  padding: 5%;
  align-items: center;
}

.survey-sub-screen {
  background: radial-gradient(ellipse at right bottom, rgb(161, 129, 59, 0.8) 0%, rgb(19, 37, 118) 100%);
  padding: 5%;
  align-items: center;
}

.survey-container {
  padding: 6% 4% 6% 4%;
  width: 100%;
  border-radius: 8px;

  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  background-color: white;

  h1 {
    width: 100%;
  }

  .logo {
    height: 30vh;
    width: 35vh;
  }

  .display-4 {
    font-size: x-large;
  }

  .display-5,
  .display-6 {
    font-size: large;
  }

  .title-bar {
    width: 100%;

    align-items: center;
    position: relative;

    i {
      font-size: x-large;
      cursor: pointer;
      position: absolute;
      left: 0;
    }
  }

  p {
    margin: 1rem 0 1rem 0;
    font-size: medium;
  }

  form {
    width: 100%;

    .row {
      margin: 0;
    }

    .date {
      margin-bottom: 5%;
    }

    .icon-append {
      position: relative;
      mat-datepicker-toggle {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 18px;
        cursor: pointer;
      }
      mat-hint {
        position: absolute;
        font-size: small;
        top: 38px;
        right: 0;
      }
    }

    .date:focus {
      outline: none !important;
      box-shadow: none !important;
    }

    .question {
      border: none;
      margin-bottom: 5%;
      border-bottom: 2px solid black;
      background-color: transparent;
      outline: none;
    }
    .question:focus {
      outline: none !important;
      box-shadow: none !important;
      border-bottom: 2px solid rgb(91, 243, 131);
      font-size: 17px;
    }

    .select {
      border: none;
      margin-bottom: 5%;
      border-bottom: 2px solid black;
      background-color: transparent;
      outline: none;
    }
    .select:focus {
      outline: none !important;
      box-shadow: none !important;
      border-bottom: 2px solid rgb(91, 243, 131);
    }
  }

  .btn-confirm {
    padding: 10px;
    width: 210px;
    border-radius: 20px;
    background: radial-gradient(ellipse at right bottom, rgb(50, 51, 62) 0%, rgb(31, 92, 234) 100%);
    border-style: none;
    color: white;
    font-weight: 600;

    &:hover {
      background: radial-gradient(ellipse at right bottom, rgb(50, 51, 62, 0.8) 0%, rgb(31, 92, 234, 0.8) 100%);
    }
  }

  .error-input {
    border-bottom: 2px solid #d53737 !important;
  }

  .error-text {
    color: #d53737;
    text-align: left;
    p {
      margin: 0 !important;
      font-size: small !important;
      padding: 0 0 0 10px;
    }
  }

  .info-text {
    p {
      margin: 0 !important;
      font-size: small !important;
    }
  }

  @media screen and (min-width: 705px) {
    form {
      width: 60%;
    }
  }
}
