/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
}
.heading {
  font-size: 40px;
  margin: 5px 0px 5px 0px;
  font-weight: 400;
  color: #003ea0;
}
.heading-container {
  padding: 10px;
}
