<div
  class="card"
  *ngIf="treatmentPlanData?.completedTasks || treatmentPlanData?.pendingTasks || treatmentPlanData?.skippedTasks"
>
  <div class="heading-container"><h3 class="heading">Task Report</h3></div>
  <hr />
  <table class="table">
    <tbody>
      <tr>
        <th>Completed Tasks :</th>
        <td>{{ treatmentPlanData.completedTasks }}</td>
      </tr>
      <tr>
        <th>Pending Tasks :</th>
        <td>{{ treatmentPlanData.pendingTasks }}</td>
      </tr>
      <tr>
        <th>Skipped Tasks :</th>
        <td>{{ treatmentPlanData.skippedTasks }}</td>
      </tr>
    </tbody>
  </table>
</div>
<conte-treatment-plan-table
  [updateTaskDetails]="updateTaskDetails"
  [CreateTask]="CreateTaskWithoutTpDay"
  [CreateTaskWithTpDay]="CreateTaskWithTpDay"
  [updateVideo]="updateVideo"
  [transferTask]="transferTask"
  [TreatmentPlanData]="treatmentPlanData"
></conte-treatment-plan-table>
