<div
  class="card"
  *ngIf="
    this.treatmentPlanData?.completedTasks ||
    this.treatmentPlanData?.pendingTasks ||
    this.treatmentPlanData?.skippedTasks
  "
>
  <div class="heading-container"><h3 class="heading">Task Report</h3></div>
  <hr />
  <table class="table">
    <tbody>
      <tr>
        <th>Completed Tasks</th>
        <td>{{ this.treatmentPlanData.completedTasks }}</td>
      </tr>
      <tr>
        <th>Pending Tasks</th>
        <td>{{ this.treatmentPlanData.pendingTasks }}</td>
      </tr>
      <tr>
        <th>Skipped Tasks</th>
        <td>{{ this.treatmentPlanData.skippedTasks }}</td>
      </tr>
    </tbody>
  </table>
</div>
<conte-treatment-plan-table
  [updateTask]="updateTask"
  [updateVideo]="updateVideo"
  [userTreatmentPlan]="this.treatmentPlanData"
></conte-treatment-plan-table>
