<div class="container-fluid contact-screen">
  <div class="container-fluid contact-container">
    <!-- Heading  -->
    <h1 class="display-5 mb-5">Contact Conte</h1>
    <i class="bi bi-envelope"></i>

    <!-- Email Section -->
    <form [formGroup]="emailForm" (submit)="sendEmail()">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          [ngClass]="(f.from.touched || f.from.dirty) && f.from.errors ? 'form-control error-input' : 'form-control'"
          placeholder="name@example.com"
          [(ngModel)]="userEmail"
          formControlName="from"
        />
        <label>From </label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="email"
          [ngClass]="(f.to.touched || f.to.dirty) && f.to.errors ? 'form-control error-input' : 'form-control'"
          placeholder="name@example.com"
          readonly
          [(ngModel)]="clientEmail"
          formControlName="to"
        />
        <label>To</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="text"
          [ngClass]="(f.subject.touched || f.subject.dirty) && f.subject.errors ? 'form-control error-input' : 'form-control'"
          placeholder="Enter the subject of your email"
          readonly
          [(ngModel)]="subject"
          formControlName="subject"
        />
        <label>Subject</label>
      </div>

      <div class="form-group">
        <textarea
          [ngClass]="
            (f.email_body.touched || f.email_body.dirty) && f.email_body.errors
              ? 'form-control error-input'
              : 'form-control'
          "
          placeholder="Your Message goes here..."
          rows="5"
          [(ngModel)]="emailBody"
          formControlName="email_body"
        ></textarea>
      </div>
    </form>

    <!-- Confirmation -->
    <div class="d-flex justify-content-center mt-4 mb-3">
      <button
        class="btn btn-primary btn-confirm"
        type="button"
        (click)="sendEmail()"
        [disabled]="!userEmail || !emailBody || buttonState === 'loading'"
      >
        <span *ngIf="buttonState === 'static'">Contact Us</span>
        <div *ngIf="buttonState === 'loading'">
          <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
          <span>Sending your email...</span>
        </div>
      </button>
    </div>
  </div>
</div>
