<router-outlet></router-outlet>
<div class="container-fluid nav-bar">
  <div [ngClass]="url == '/dashboard/profile' ? 'nav-link active-link' : 'nav-link'">
    <i class="bi bi-file-earmark-person-fill" (click)="navToProfile()"></i>
    <p (click)="navToProfile()">Profile</p>
  </div>
  <div class="nav-link">
    <i class="bi bi-camera-reels"></i>
    <p>Video</p>
  </div>
  <div [ngClass]="url == '/dashboard' ? 'nav-link active-link' : 'nav-link'">
    <i class="bi bi-house-door" (click)="navToHome()"></i>
    <p (click)="navToHome()">Home</p>
  </div>
  <div [ngClass]="url == '/dashboard/contact' ? 'nav-link active-link' : 'nav-link'" >
    <i class="bi bi-telephone-outbound" (click)="navToContact()"></i>
    <p (click)="navToContact()">Contact</p>
  </div>
  <div class="nav-link" >
    <i class="bi bi-box-arrow-left" (click)="logout()"></i>
    <p (click)="logout()">Log Out</p>
  </div>
</div>
