<div class="timer" *ngIf="showTimer" [@fade]>
  <h4 class="display-6">Your Treatment Plan Starts in</h4>
  <div class="timer-container">
    <span id="days" style="margin: 0"> {{ daysToDday }} </span>Day(s) <span id="hours"> {{ hoursToDday }} </span>Hrs
    <span id="minutes"> {{ minutesToDday }} </span>Min <span id="seconds"> {{ secondsToDday }} </span>S
  </div>
</div>

<h6 *ngIf="showTimer" class="nav-btn mt-3" [@fade] (click)="trialView()">Navigate to Dashboard</h6>
<h1 *ngIf="!showTimer" class="nav-btn" [@fade] (click)="navToDashboard()">Start Your Treatment Plan</h1>
