<!--Task Info-->
<div class="modal-content">
  <div class="modal-body">
    <h4 class="modal-title display-6">Conte; Daily Task</h4>
    <span class="display-5">{{ task.title }}</span>
    <p class="display-6 mt-2">Due Date: {{ dueDate }}</p>
  </div>

  <div class="modal-footer">
    <!-- Comment Section -->
    <div class="comments-container mt-3" #commentContainer>
      <ng-container *ngFor="let comment of comments">
        <div class="comment m-1">
          {{ comment }}
        </div>
      </ng-container>
    </div>

    <div class="comment-input">
      <select [(ngModel)]="this.comment">
        <option hidden selected value="">Select a comment</option>
        <option value="Couldn't understand the given task">1</option>
        <option value="222222">2</option>
        <option value="33333333333333">3</option>
        <option value="444444444444444444444">4</option>
      </select>
      <div class="send-btn">
        <i
          *ngIf="sendButtonState === 'static'"
          [ngClass]="comment === '' ? 'btn-color' : null"
          (click)="comment ? addComment() : ''"
          class="bi bi-send ms-2 mb-3"
        ></i>
        <span
          *ngIf="sendButtonState === 'loading'"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </div>
    </div>

    <!-- Confirmation Button -->
    <div class="d-flex button-container mt-4 mb-2">
      <button
        class="btn btn-primary btn-confirm"
        type="button"
        (click)="completeDailyTask()"
        [disabled]="buttonState === 'loading'"
      >
        <span *ngIf="buttonState === 'static'" class="display-6">{{
          task.is_completed ? 'Mark as Incomplete' : 'Mark as Completed'
        }}</span>
        <div *ngIf="buttonState === 'loading'">
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          <span class="display-6">Updating your task...</span>
        </div>
      </button>
    </div>
  </div>
</div>
