// .modal-dialog {
//   background-color:#3a3838;
//   border:none;
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   width: 100vw;
// }
// * {
//   margin: 0 !important;
// }

// .modal {
//   --bs-modal-margin: 0 !important;
// }

// .modal-content {
//   position: fixed;
//   margin: 0 !important;
//   bottom: 0;
// }

.display-6 {
  font-size: large;
}
.display-5 {
  font-size: x-large;
}

.modal-body {
  background-color: rgb(227, 227, 227);
  color: black;
  border-radius: 4px 4px 0 4px;
  border-bottom: 6px solid black;
}

.comments-container {
  height: 25vh;
  overflow-y: scroll;
  width: 100%;

  background-color: rgb(141, 138, 138);
  border-radius: 10px;

  .comment {
    width: fit-content;
    height: fit-content;

    background-color: rgb(237, 235, 235);
    border-radius: 10px;
    padding: 5px;
  }
}

.modal-footer {
  display: flex;
  justify-content: center;

  background-color: rgb(227, 227, 227);
  .comment-input {
    width: 100%;
    height: 50px;
    padding: 5px;

    display: flex;
    align-items: center;
    position: relative;

    background-color: #adadad;
    border-radius: 77px;
    border-bottom: 3px solid #686868;

    select {
      outline: none;
      border: none;
      width: 90%;
      text-align: center;
      color: black;
      background-color: transparent;
      height: inherit;
    }
    ::placeholder {
      color: white;
    }

    .send-btn {
      font-size: x-large;
      margin: auto;

      color: white;
      cursor: pointer;
      .btn-color{
        color: #686868;
      }
    }
  }

  .button-container {
    width: 100%;
    justify-content: center;

    .btn-confirm {
      padding: 10px;
      width: 100%;
      font-size: large;
      border-radius: 28px;
      background: radial-gradient(ellipse at right bottom, rgb(50, 51, 62) 0%, rgb(46, 71, 235) 100%);
      border-style: none;
      color: white;
      font-weight: 600;
    }

    .btn-confirm:hover {
      background-color: rgba(10, 136, 43, 0.5);
    }
  }
}
