<!--Task Info-->
<div class="modal-content">
  <div class="modal-body">
    <h4 class="modal-title display-6">Conte; Daily Task</h4>
    <i class="bi bi-x-lg" (click)="activeModal.dismiss()"></i>
    <span class="display-5">{{ task.title }}</span>
    <p class="display-6 mt-2">Due Date: {{ dueDate }}</p>
  </div>

  <div class="modal-footer">
    <!-- Treatment Plan Task Video -->
    <video class="mt-4 mb-4" controls playsinline loop autoplay *ngIf="videoURL" [src]="videoURL" [@fade]>
      Your browser does not support the video playback.
    </video>
    <!-- CASE// No Video -->
    <div class="no-video mt-4 mb-4" *ngIf="!videoURL" [@fade]>
      <img src="assets/logos/Throwing Progression Pro-02.png" />
    </div>

    <!-- Comment Section -->
    <div class="comment-input">
      <select [(ngModel)]="this.comment" autofocus="false">
        <option hidden selected value="">Select a comment</option>
        <option value="Could not understand the given task">Couldn't Understand the given task</option>
        <option value="Assistance required">Assistance required</option>
        <option value="Please help">Please help</option>
        <option value="Unable to complete">Unable to complete</option>
      </select>

      <!-- <div class="send-btn">
        <i
          *ngIf="sendButtonState === 'static'"
          [ngClass]="comment === '' ? 'btn-color' : null"
          (click)="comment ? addComment() : ''"
          class="bi bi-send ms-2 mb-3"
        ></i>
        <span
          *ngIf="sendButtonState === 'loading'"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </div> -->
    </div>

    <!-- Confirmation Button -->
    <div class="d-flex button-container mt-4 mb-2">
      <button
        class="btn btn-primary btn-confirm"
        type="button"
        (click)="completeDailyTask()"
        [disabled]="buttonState === 'loading'"
        ngbAutofocus
      >
        <span *ngIf="buttonState === 'static'" class="display-6">{{
          task.is_completed ? 'Mark as Incomplete' : 'Mark as Completed'
        }}</span>
        <div *ngIf="buttonState === 'loading'">
          <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          <span class="display-6">Updating your task...</span>
        </div>
      </button>
    </div>
  </div>
</div>
