<div class="container-fluid authentication-screen">
  <div class="container-fluid authentication-container">
    <div class="logo-container">
      <img class="logo" src="assets/logos/Throwing Progression Pro-02.png" />
    </div>
    <div class="authentication-form">
      <!-- Switch Panel -->
      <div class="d-flex switch-panel mb-5">
        <button
          [ngClass]="registerState ? 'current-state me-4' : 'me-4'"
          [disabled]="registerState || buttonState === 'loading'"
          (click)="switchForm()"
        >
          <span class="display-6">SIGN UP</span>
        </button>
        <button
          [ngClass]="loginState ? 'current-state' : ''"
          [disabled]="loginState || buttonState === 'loading'"
          (click)="switchForm()"
        >
          <span class="display-6">LOG IN</span>
        </button>
      </div>

      <!-- Login Form//start -->
      <form [formGroup]="signinForm" *ngIf="loginState" (submit)="login()" [@fade]>
        <!-- Email Group//start -->
        <div *ngIf="f.email.touched && f.email.dirty" class="error-text m-0">
          <p *ngIf="f.email.errors?.email"><i class="bi bi-x-circle-fill m-1"></i>Please enter a valid Email.</p>
          <p *ngIf="f.email.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>Email is required to log in.</p>
        </div>
        <input
          type="email"
          placeholder="Email ID"
          [ngClass]="f.email.touched && f.email.dirty && f.email.errors ? 'error-input mb-4' : 'mb-4'"
          formControlName="email"
          autocomplete="off"
        />
        <!-- Email Group//end -->

        <!-- Password Group//start -->
        <div *ngIf="f.password.touched && f.password.dirty" class="error-text">
          <p *ngIf="f.password.errors?.required">
            <i class="bi bi-x-circle-fill me-1"></i>Password is required to login.
          </p>
          <p *ngIf="f.password.errors?.minlength">
            <i class="bi bi-x-circle-fill me-1"></i>Password must be atleast 8 characters long.
          </p>
        </div>
        <input
          placeholder="Password"
          id="password"
          style="background-color: transparent !important"
          [ngClass]="f.password.touched && f.password.dirty && f.password.errors ? 'error-input' : ''"
          formControlName="password"
          autocomplete="off"
        />

        <div class="d-flex justify-content-end">
          <p class="reset-pass">Forgot Password?</p>
        </div>
        <!-- Password Group//end -->

        <div class="d-flex justify-content-center mt-2 mb-2">
          <input type="checkbox" class="checkbox" name="checkbox" checked="true" />
          <span class="text">Keep me signed in on this device</span>
        </div>

        <div class="d-flex justify-content-center mt-4 mb-3">
          <button
            class="btn btn-primary btn-authenticate"
            type="submit"
            (click)="login()"
            [disabled]="signinForm.invalid || buttonState === 'loading'"
          >
            <span *ngIf="buttonState === 'static'">LOGIN</span>
            <div *ngIf="buttonState === 'loading'">
              <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
              <span>Logging in...</span>
            </div>
          </button>
        </div>
      </form>
      <!-- Login Form//end -->

      <!-- Signup Form//start -->
      <form [formGroup]="registrationForm" *ngIf="registerState" (submit)="register()" [@fade]>
        <!-- Email Group//start -->
        <div *ngIf="f2.email.touched && f2.email.dirty" class="error-text m-0">
          <p *ngIf="f2.email.errors?.email"><i class="bi bi-x-circle-fill m-1"></i>Please enter a valid Email.</p>
          <p *ngIf="f2.email.errors?.required"><i class="bi bi-x-circle-fill me-1"></i>Email is required to log in.</p>
        </div>
        <input
          type="email"
          [ngClass]="f2.email.touched && f2.email.dirty && f2.email.errors ? 'error-input mb-4' : 'mb-4'"
          placeholder="Email ID"
          formControlName="email"
          autocomplete="off"
        />

        <!-- Email Group//end -->

        <!-- Password Group//start -->
        <div *ngIf="f2.password.touched && f2.password.dirty" class="error-text">
          <p *ngIf="f2.password.errors?.required">
            <i class="bi bi-x-circle-fill me-1"></i>Password is required to login.
          </p>
          <p *ngIf="f2.password.errors?.minlength">
            <i class="bi bi-x-circle-fill me-1"></i>Password must be atleast 8 characters long.
          </p>
        </div>
        <!-- Password -->
        <input
          [ngClass]="f2.password.touched && f2.password.dirty && f2.password.errors ? 'error-input mb-4' : 'mb-4'"
          id="password"
          placeholder="Password"
          formControlName="password"
          autocomplete="off"
        />

        <!-- Confirm Password -->
        <input
          [ngClass]="
            (f2.confirm_password.touched || f2.confirm_password.dirty) && f2.confirm_password.errors
              ? 'error-input mb-3'
              : 'mb-3'
          "
          id="password"
          placeholder="Confirm Password"
          formControlName="confirm_password"
          autocomplete="off"
        />

        <div
          *ngIf="
            (f2.password.touched || f2.password.dirty) && (f2.confirm_password.touched || f2.confirm_password.dirty)
          "
          class="error-text"
        >
          <p *ngIf="registrationForm.errors?.['mismatch']">
            <i class="bi bi-x-circle-fill me-1"></i>Passwords do not match.
          </p>
          <p *ngIf="!registrationForm.errors?.['mismatch']" style="color: green">
            <i class="bi bi-check-circle-fill me-1"></i>Passwords matched
          </p>
        </div>
        <!-- Password Group//end -->

        <div class="d-flex justify-content-center mt-4 mb-3">
          <button
            class="btn btn-primary btn-authenticate"
            type="submit"
            (click)="register()"
            [disabled]="registrationForm.invalid || buttonState === 'loading'"
          >
            <span *ngIf="buttonState === 'static'">REGISTER</span>
            <div *ngIf="buttonState === 'loading'">
              <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
              <span>Signing you up...</span>
            </div>
          </button>
        </div>
      </form>
      <!-- Signup Form//end -->
    </div>
  </div>
</div>
