.splash-screen {
  height: 100vh;
  padding: 5%;
}

.splash-container {
  height: 100%;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at right bottom, rgb(161, 129, 59, 0.8) 0%, rgb(19, 37, 118) 100%);
  border-radius: 8px;
  color: white;
  flex-wrap: wrap;

  .logo-container {
    width: 100%;
    /* For Logo Image */
    .logo {
      height: 30vh;
      width: 35vh;
    }
  }

  .spinner-border {
    height: 7vh;
    width: 7vh;
  }

  .footer-tab {
    width: 100%;


    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    .title {
      width: 100%;
      
      font-size: x-large;
      font-weight: 400;
    }
  }

  hr {
    border: 0;
    clear: both;
    display: block;

    width: 70%;
    height: 1px;
    margin: 0.6rem 0;

    background-color: #ffffff;
  }
}
