<div class="table-data__wrapper">
  <table class="table table-data">
    <thead>
      <tr>
        <th *ngFor="let header of headers" scope="col">
          <!-- start//header -->
          <span>
            {{ header['title'] }}
          </span>
          <ng-template #noSort>
            {{ header['value'] || header }}
          </ng-template>
        </th>
        <!-- end//header -->
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let record of data">
        <tr container="body" (click)="expanssionToggle(record)">
          <!-- start//Table Data -->
          <td *ngFor="let header of headers">
            <span>
              <div>
                {{ record[header['value']] }}
              </div>
              <ng-template #noGroup>
                <div style="color: gray">
                  Not Assigned
                  <i class="fa fa-pencil-square fa-lg ml-1 c-point" aria-hidden="true"></i>
                </div>
              </ng-template>
            </span>
          </td>

          <!-- end//Table Data -->
        </tr>
        <div class="expansion" *ngIf="record.expanssion">
          <div class="record-container">
            <div *ngFor="let data of idSpecificData; let i = index">
              <div *ngIf="data.id === record.id">
                <div class="child-container" *ngIf="data?.data?.completed_tasks.length > 0">
                  <h4>Completed Tasks</h4>
                  <div class="task-list" *ngFor="let data of data?.data?.completed_tasks; let i = index">
                    <p>{{ data.title }}</p>
                  </div>
                </div>
                <div class="child-container" *ngIf="data?.data?.skipped_tasks.length > 0">
                  <h4>Skipped Tasks</h4>
                  <div class="task-list" *ngFor="let data of data?.data?.skipped_tasks; let i = index">
                    <p>{{ data.title }}</p>
                  </div>
                </div>
                <div class="child-container" *ngIf="data?.data?.pending_tasks.length > 0">
                  <h4>Pending Tasks</h4>
                  <div class="task-list" *ngFor="let data of data?.data?.pending_tasks; let i = index">
                    <p>{{ data.title }}</p>
                  </div>
                </div>
                <div class="child-container" *ngIf="data?.data?.pending_tasks.length === 0">
                  <h4>Pending Tasks</h4>
                  <p>No Pending tasks found</p>
                </div>
                <div class="child-container" *ngIf="data?.data?.completed_tasks.length === 0">
                  <h4>Completed Tasks</h4>
                  <p>No completed tasks found</p>
                </div>
                <div class="child-container" *ngIf="data?.data?.skipped_tasks.length === 0">
                  <h4>Skipped Tasks</h4>
                  <p>No skipped tasks found</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </tbody>
  </table>
</div>
