<div class="table-data__wrapper">
  <button class="btn btn-primary btn-update-file" *ngIf="tableEditable" (click)="onGoBack()">Go Back</button>
  <button class="btn btn-primary btn-update-file" *ngIf="tableEditable" (click)="onCsvFileUpdate(csvFileName)">
    Update File
  </button>
  <input
    class="input-file form-control"
    [(ngModel)]="csvFileName"
    placeholder="Week From Sx"
    *ngIf="tableEditable"
    type="text"
  />
  <input
    class="input-file form-control"
    [(ngModel)]="data[0]['Week From Sx']"
    placeholder="Week From Sx"
    *ngIf="tableEditable"
    type="text"
  />
  <input
    class="input-file form-control"
    [(ngModel)]="data[0]['Month From Sx']"
    placeholder="Month From Sx"
    *ngIf="tableEditable"
    type="text"
  />
  <select (change)="onDoctorChange($event.target)" *ngIf="tableEditable" class="input-file form-control">
    <option value="">Select Doctor</option>
    <option *ngFor="let doc of doctors" value="{{ doc.id }}">{{ doc.name }}</option>
  </select>
  <select
    (change)="onSurgeryChange($event.target)"
    *ngIf="tableEditable && surgery.length > 0"
    class="input-file form-control"
  >
    <option value="">Select Surgery</option>
    <option *ngFor="let doc of surgery" value="{{ doc.id }}">{{ doc.name }}</option>
  </select>
  <table class="table table-data">
    <thead>
      <tr>
        <th *ngFor="let header of headers" scope="col">
          <!-- start//header -->
          <span>
            {{ header['title'] }}
          </span>
          <ng-template #noSort>
            {{ header['value'] || header }}
          </ng-template>
        </th>
        <!-- end//header -->
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let record of data">
        <tr container="body" (click)="openModal ? modalToggle(record) : onRowClick(record)">
          <!-- start//Table Data -->
          <td *ngFor="let header of headers">
            <span *ngIf="!tableEditable">
              <div *ngIf="record[header['value']]; else noGroup">
                {{
                  header['title'] === 'created at'
                    ? (record[header['value']] | date: 'dd/MM/yyyy')
                    : record[header['value']]
                }}
              </div>
              <ng-template #noGroup>
                <div style="color: gray">
                  Not Assigned
                  <i class="fa fa-pencil-square fa-lg ml-1 c-point" aria-hidden="true"></i>
                </div>
              </ng-template>
            </span>
            <span *ngIf="tableEditable">
              <!-- <div *ngIf="record[header['value']]"> -->
              <input type="text" [(ngModel)]="record[header['value']]" />
              <!-- </div> -->
            </span>
          </td>

          <!-- end//Table Data -->
        </tr>
        <!-- <div class="expansion" *ngIf="record.expansion">
          <div class="record-container">
            <div *ngFor="let row of tableData; let i = index">
              <div *ngIf="row.id === record.id">
                <div class="child-container" *ngIf="row?.data?.completed_tasks.length > 0">
                  <h4>Completed Tasks</h4>
                  <div class="task-list" *ngFor="let task of row?.data?.completed_tasks; let i = index">
                    <p>{{ task.title }}</p>
                  </div>
                </div>
                <div class="child-container" *ngIf="row?.data?.skipped_tasks.length > 0">
                  <h4>Skipped Tasks</h4>
                  <div class="task-list" *ngFor="let task of row?.data?.skipped_tasks; let i = index">
                    <p>{{ task.title }}</p>
                  </div>
                </div>
                <div class="child-container" *ngIf="row?.data?.pending_tasks.length > 0">
                  <h4>Pending Tasks</h4>
                  <div class="task-list" *ngFor="let task of row?.data?.pending_tasks; let i = index">
                    <p>{{ task.title }}</p>
                  </div>
                </div>
                <div class="child-container" *ngIf="row?.data?.pending_tasks.length === 0">
                  <h4>Pending Tasks</h4>
                  <p>No Pending tasks found</p>
                </div>
                <div class="child-container" *ngIf="row?.data?.completed_tasks.length === 0">
                  <h4>Completed Tasks</h4>
                  <p>No completed tasks found</p>
                </div>
                <div class="child-container" *ngIf="row?.data?.skipped_tasks.length === 0">
                  <h4>Skipped Tasks</h4>
                  <p>No skipped tasks found</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </ng-container>
    </tbody>
  </table>
</div>
