<div *ngIf="search" class="d-none d-lg-block search-bar ms-3 mt-4">
  <div class="input-group">
    <span class="input-group-text btn-color"><i style="color: white" class="bi bi-search"></i></span>
    <input
      placeholder="Search"
      type="text"
      class="form-control search-fied"
      style="color: blue"
      [(ngModel)]="searchText"
    />
  </div>
</div>
<div class="table-data__wrapper">
  <ng-container *ngIf="tableEditable">
    <div class="d-flex justify-content-end mb-3" *ngIf="showFilters" [@fade]>
      <div class="form-floating me-2">
        <input class="form-control" [(ngModel)]="csvFileName" placeholder="Name" type="text" />
        <label>Name</label>
      </div>

      <div class="form-floating me-2">
        <input class="form-control" [(ngModel)]="data[0]['week_from_sx']" placeholder="Week From Sx" type="text" />
        <label>Week From Sx</label>
      </div>

      <div class="form-floating">
        <input class="form-control" [(ngModel)]="data[0]['month_from_sx']" placeholder="Month From Sx" type="text" />
        <label>Month From Sx</label>
      </div>
    </div>

    <div class="d-flex justify-content-end mb-3" *ngIf="showFilters" [@fade]>
      <div class="form-floating me-2">
        <select (change)="onDoctorChange($event.target)" class="form-control">
          <option value="">Select Doctor</option>
          <option *ngFor="let doc of doctors" value="{{ doc.id }}">{{ doc.name }}</option>
        </select>
        <label>Select Doctor</label>
      </div>

      <div class="form-floating" *ngIf="surgery.length > 0 && showFilters" [@fade]>
        <select (change)="onSurgeryChange($event.target)" class="form-control">
          <option value="">Select Surgery</option>
          <option *ngFor="let doc of surgery" value="{{ doc.id }}">{{ doc.name }}</option>
        </select>
        <label>Select Surgery</label>
      </div>
    </div>

    <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-primary btn-update-file me-auto" (click)="onGoBack()">
        <i class="bi bi-arrow-left"></i>
      </button>

      <button class="btn btn-primary btn-update-file" (click)="showFilters = !showFilters">
        <i class="bi bi-funnel"></i>
      </button>

      <button class="btn btn-primary btn-update-file" (click)="onCsvFileUpdate(csvFileName)">Upload File</button>
    </div>
  </ng-container>

  <table class="table table-data">
    <thead>
      <tr>
        <th class="header-style" *ngFor="let header of headers" scope="col">
          <!-- start//header -->
          <span class="header-font">
            {{ header['title'] }}
          </span>
          <ng-template #noSort>
            {{ header['value'] || header }}
          </ng-template>
        </th>
        <!-- end//header -->
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let record of data | filter: searchText">
        <tr class="row-styling" container="body" (click)="openModal ? modalToggle(record) : onRowClick(record)">
          <!-- start//Table Data -->
          <td *ngFor="let header of headers">
            <span *ngIf="!tableEditable">
              <div class="td-text" *ngIf="record[header['value']]; else noGroup">
                {{
                  header['title'] === 'created at'
                    ? (record[header['value']] | date: 'dd/MM/yyyy')
                    : record[header['value']]
                }}
              </div>
              <ng-template #noGroup>
                <div style="color: gray">
                  Not Assigned
                  <i class="fa fa-pencil-square fa-lg ml-1 c-point" aria-hidden="true"></i>
                </div>
              </ng-template>
            </span>
            <span *ngIf="tableEditable">
              <!-- <div *ngIf="record[header['value']]"> -->

              <input type="text" [(ngModel)]="record[header['value']]" />

              <!-- </div> -->
            </span>
          </td>

          <!-- end//Table Data -->
        </tr>
        <!-- <div class="expansion" *ngIf="record.expansion">
          <div class="record-container">
            <div *ngFor="let row of tableData; let i = index">
              <div *ngIf="row.id === record.id">
                <div class="child-container" *ngIf="row?.data?.completed_tasks.length > 0">
                  <h4>Completed Tasks</h4>
                  <div class="task-list" *ngFor="let task of row?.data?.completed_tasks; let i = index">
                    <p>{{ task.title }}</p>
                  </div>
                </div>
                <div class="child-container" *ngIf="row?.data?.skipped_tasks.length > 0">
                  <h4>Skipped Tasks</h4>
                  <div class="task-list" *ngFor="let task of row?.data?.skipped_tasks; let i = index">
                    <p>{{ task.title }}</p>
                  </div>
                </div>
                <div class="child-container" *ngIf="row?.data?.pending_tasks.length > 0">
                  <h4>Pending Tasks</h4>
                  <div class="task-list" *ngFor="let task of row?.data?.pending_tasks; let i = index">
                    <p>{{ task.title }}</p>
                  </div>
                </div>
                <div class="child-container" *ngIf="row?.data?.pending_tasks.length === 0">
                  <h4>Pending Tasks</h4>
                  <p>No Pending tasks found</p>
                </div>
                <div class="child-container" *ngIf="row?.data?.completed_tasks.length === 0">
                  <h4>Completed Tasks</h4>
                  <p>No completed tasks found</p>
                </div>
                <div class="child-container" *ngIf="row?.data?.skipped_tasks.length === 0">
                  <h4>Skipped Tasks</h4>
                  <p>No skipped tasks found</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </ng-container>
    </tbody>
  </table>
</div>
