.home-screen {
  height: 100%;
  padding: 5% 2% 5% 2%;

  background-color: rgb(227, 227, 227);
}

.home-container {
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 10vh;

  .footer-tab {
    width: 100%;
    
    .title {
      display: flex;
      justify-content: center;
      text-align: center;

      font-size: x-large;
      font-weight: 400;
    }
  }

  hr {
    border: 0;
    clear: both;
    display: block;

    width: 96%;
    height: 1px;
    margin: 0.6rem 0;

    background-color: #686867;
  }

  .calendar-widget {
    width: 100%;
    padding: 2%;

    border-radius: 26px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: rgb(218, 218, 218);

    .spinner-border {
      margin: 10px 0 10px 0;
      font-size: x-large;
      color: #020254;

      height: 4vh;
      width: 4vh;
    }

    .widget-heading {
      width: 100%;
      font-size: large;
      font-weight: 500;
      color: #020254;
      margin-bottom: 5px;
    }

    .calendar {
      width: 80%;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    @media screen and (min-width: 1350px) {
      .calendar {
        width: 60%;
      }
    }

    .horizontal {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    i {
      padding: 0 3px 0 3px;
      border-radius: 8px;
      background-color: #e2dede;
      box-shadow: 0 2px 10px grey;

      cursor: pointer;
    }

    .days {
      margin: 0 0 10px 20px;

      &:first-child {
        margin: 0 0 10px 0;
      }

      .day-name {
        color: #9e9a9a;
        font-size: medium;
      }
      .day-digit {
        margin-bottom: 4px;

        color: #020254;
        font-size: x-large;
        font-family: sans-serif;

        cursor: pointer;
      }

      .selected-digit {
        color: white;
        background-color: #2f2fb7;
        border-radius: 24px;
        padding: 0 5px 0 5px;
      }

      .status {
        width: 8px;
        height: 8px;
        border-radius: 24px;
        background-color: grey;
      }

      .status-active {
        background-color: rgb(14, 135, 14);
      }
    }

    .active {
      background-color: red;
    }
  }

  video {
    width: 100%;

    border-radius: 26px;
    box-shadow: 0 5px 10px black;
  }

  @media screen and (min-width: 800px) {
    video {
      height: 70vh;
    }
  }

  .empty-tasks {
    width: 100%;
    padding: 5% 0 5% 0;

    p {
      font-size: large;
    }

    img {
      height: 25vh;
    }

    border-radius: 26px;
    box-shadow: 0 5px 10px black;
  }

  .info-tab {
    width: 100%;

    .speed-info {
      height: 180px;
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      text-align: center;
      font-size: 20px;
      font-weight: bolder;
      color: rgb(0, 52, 125);

      border-radius: 20px;
      background-color: rgb(208, 207, 207);

      p {
        width: 100%;
        font-size: 40px;
        font-weight: bold;
      }
    }

    .progress-info {
      height: 180px;
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      text-align: center;
      font-size: 20px;
      font-weight: bolder;
      color: rgb(0, 52, 125);

      border-radius: 20px;
      background-color: rgb(208, 207, 207);

      p {
        width: 100%;
        font-size: 40px;
        font-weight: bold;
      }
    }
  }

  .treatment-plan {
    height: 210px;
    width: 100%;

    margin-bottom: 25px; /* Temp till screen is filled */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(0, 52, 125);

    border-radius: 20px;
    background-color: rgb(208, 207, 207);

    cursor: pointer;
    p {
      width: 100%;
      font-size: 55px;
      font-weight: bold;
    }

    &:hover {
      color: rgb(0, 52, 125, 0.7);
    }
  }

  .tasks-completed {
    padding: 0 10px 0 10px;

    color: rgb(208, 207, 207);
    background-color: rgb(0, 52, 125);

    cursor: default;

    div {
      width: 100%;
    }

    p {
      margin: 0;
      font-size: xx-large;
    }

    .display-6 {
      font-size: large;
      text-decoration: none;
      font-weight: 400;
      padding: 2px;
      color: rgb(208, 207, 207);

      border-radius: 3px;
      border-top: 2px goldenrod solid;
      border-bottom: 2px goldenrod solid;

      cursor: pointer;

      &:hover {
        color: goldenrod;
      }
    }

    &:hover {
      color: rgb(208, 207, 207);
    }
  }

  .tasks-unavailable {
    height: 210px;
    width: 100%;

    margin-bottom: 25px; /* Temp till screen is filled */
    padding-right: 2%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    border-radius: 20px;
    background-color: rgb(208, 207, 207);

    .timer-container {
      text-align: center;
      font-family: Arial, sans-serif;
      font-size: 1.4em;
      letter-spacing: -1px;

      .timer span {
        font-size: 1.5em;
      }

      .display-6 {
        font-size: x-large;
      }

      .timer {
        width: 100%;
        padding: 5% 0 5% 1%;
        color: rgb(208, 207, 207);
        background-color: rgb(0, 52, 125);

        border-radius: 20px;
      }
    }

    .display-6 {
      font-size: large;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 400;

      border-radius: 3px;
      border-top: 2px goldenrod solid;
      border-bottom: 2px goldenrod solid;

      cursor: pointer;

      &:hover {
        color: goldenrod;
      }
    }
  }
}

.placeholder {
  border-radius: 4px;
}
