<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><i class="fa-solid fa-shop me-2"></i>
      <img class="logo" src="../../../assets/logos/ThrowingProgressionPro.png" alt="logo" width="68" height="50" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="ms-auto d-none d-lg-block">
        <div class="input-group">
          <span class="input-group-text search_color text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" class="form-control" style="color: #7a7a7a" />
          <button class="btn search_color text-white">Search</button>
        </div>
      </div>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="#">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#">Services</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-circle-user me-1"></i> Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container_Table">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- <div class="card-body text-center">
          <h5 class="card-title m-b-0"></h5>
        </div> -->
        <div class="table-responsive tableMain">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <!-- <th>
                  <label class="customcheckbox m-b-20">
                    <input type="checkbox" id="mainCheckbox" />
                    <span class="checkmark"></span>
                  </label>
                </th> -->
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Est Max Velocity</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
              </tr>
            </thead>
            <tbody class="customtable">
              <tr *ngFor="let item of this.allUsers; index as i">
                <td>{{item.id}}</td>
                <td>{{item.first_name}}</td>
                <td>{{item.estimated_max_velocity}}</td>
                <td>{{item.email}}</td>
                <td>{{item.cell_phone}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
