* {
  outline: none;
}

/* HEADER */
.navbar-nav {
  display: flex;
  align-items: center;

  a {
    font-size: large;
    font-weight: 700;
  }
}

// a {
//   font-size: 14px;
//   font-weight: 700;
// }

// .form-control {
//   outline: none !important;
//   box-shadow: none !important;
// }
// .search-color {
//   background-color: #196aeb;
// }

/* SIDE NAV */
.col-2 {
  width: 15%;
}
.logout {
  :hover {
    color: #003ea0;
  }
}
.side-nav {
  padding-top: 3%;
  min-height: 100vh;

  .nav-link {
    display: flex;
    // justify-content: center;
    height: 25px;
    .link-container {
      margin-left: 15%;
    }
    margin-bottom: 1.5rem;
    &:hover {
      color: rgb(2, 2, 178);
      font-weight: 500;
      cursor: pointer;
    }
  }

  .active-link {
    font-weight: 500;
    color: rgb(0, 0, 163);
    border-left: 6px solid blue;
  }
}
