$primaryColor:#073786;
$textColor:#001737;
$textLight:rgba(0, 23, 55, .9);
$activeColor:#073786;
$menuColor:#32435D;
$white:#fff;
$borderColor: #CED4DA;

$desktop: 1024px;
$tablet: 768px;

$transition: .3s all ease;
