<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Verahealth | Dashboard</title>
  </head>

  <body class="right-border">
    <div class="wrappers d-flex align-items-stretch">
      <nav id="sidebar" class="wrappers" [style]="hyperNavStyle">
        <span class="border-bottom d-flex logo">
        </span>
        <ul class="list-unstyled components-short">
          <li *ngFor="let comp of navbarComponents" (click)="(comp.activePath)">
            <a
              *ngIf="navigateFromDash"
              class="point"
              [href]="[comp.activePath]"
              [style.padding]="hyperLinkPadding"
              [style.font-size]="hyperLinkFontSize"
              [style.line-height]="hyperLinkLineHeight"
            >
              <img class="simple-icon" [src]="comp.svgSrc" alt="dashboard" />
              <img class="active-icon" [src]="comp.activeSvgSrc" alt="dashboard" />
              <span style="margin-right: 2px" class="small-menu" [style]="smallClass">{{ comp.title }}</span>
            </a>
            <a
              *ngIf="!navigateFromDash"
              class="point"
              [routerLink]="[comp.activePath]"
              [style.padding]="hyperLinkPadding"
              [style.font-size]="hyperLinkFontSize"
              [style.line-height]="hyperLinkLineHeight"
            >
              <img class="simple-icon" [src]="comp.svgSrc" alt="dashboard" />
              <img class="active-icon" [src]="comp.activeSvgSrc" alt="dashboard" />
              <span style="margin-right: 2px" class="small-menu" [style]="smallClass">{{ comp.title }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
