.card {
  padding: 25px;
  margin: 10px;
}

.row-click:hover {
  cursor: pointer;
  color: rgb(7, 40, 227);
  background-color: rgb(240, 240, 240);
  font-weight: 550 !important;
}
.edit-link {
  display: flex;
  justify-content: space-between;
}
.action-link {
  margin: 0px 20px 0px 20px;
}
tr {
  border-color: black;
}

.action-link:hover {
  cursor: pointer;
  color: rgb(7, 40, 227);
}

.action-button:hover {
  cursor: pointer;
  color: rgb(7, 40, 227);
}
