<div class="container-fluid d-flex subscription-screen">
  <div class="container-fluid subscription-container">
    <div *ngIf="!subscriptionFormRendered">
      <img class="logo" src="assets/logos/Throwing Progression Pro-02.png" />

      <!-- SUBSCRIPTION CHECK -->
      <div *ngIf="!isSubscribed && subscriptionState === ''" [@fade]>
        <div class="spinner-border spinner-large mt-5" role="status"></div>
        <h1 class="display-6 mt-1" *ngIf="!renderingSubscriptionForm" [@fade]>Checking your Subscription Status...</h1>
        <h1 class="display-6 mt-1" *ngIf="renderingSubscriptionForm" [@fade]>
          Getting your Subscription form ready...
        </h1>
      </div>

      <div *ngIf="isSubscribed || subscriptionState === 'success'" [@fade]>
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>
        <h1 class="display-6 mt-1">Subscription Confirmed</h1>
      </div>

      <div *ngIf="subscriptionState === 'fail'" [@fade]>
        <i class="bi bi-x-lg mt-1" style="font-size: xx-large"></i>
        <h1 class="display-5">Subscription Failed</h1>
        <span class="display-6">Please try again later</span>
      </div>
    </div>

    <!-- SUBSCRIPTION FORM -->
    <div *ngIf="subscriptionFormRendered">
      <div class="subscriptions">
        <div (click)="monthlySubscription()" [ngClass]="sub === 'monthly' ? 'selected-product mb-2' : 'product mb-2 '">
          <img class="logo" src="assets/logos/Throwing Progression Pro-02.png" />

          <div class="description">
            <h3 class="display 5">Monthly Subscription</h3>
            <h5 class="display 6">$10.00 / month</h5>
          </div>
        </div>

        <div (click)="freeTrial()" [ngClass]="sub === 'trial' ? 'selected-product' : 'product'">
          <img class="logo" src="assets/logos/Throwing Progression Pro-02.png" />

          <div class="description">
            <h3 class="display 5">Free Trial</h3>
            <h5 class="display 6">3 Days</h5>
          </div>
        </div>
      </div>

      <!-- CONFIRM BUTTON -->
      <div class="d-flex justify-content-center mt-4 mb-3">
        <button
          class="btn btn-primary btn-confirm"
          type="button"
          (click)="confirmSubscription()"
          [disabled]="!this.product_id || buttonState === 'loading'"
        >
          <span *ngIf="buttonState === 'static'" class="display-6">Subscribe</span>
          <div *ngIf="buttonState === 'loading'">
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            <span class="display-6">Submitting...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
