<div class="container-fluid treatment-plan-screen">
  <div class="d-flex treatment-plan-container">
    <div class="title-tab">
      <i class="bi bi-arrow-left mt-1" (click)="navBack()"></i>
      <span class="title display-4">Conte Sports Performance</span>
    </div>
    <hr />

    <div class="d-flex justify-content-center display-5 mb-2">{{ date }}</div>

    <div class="d-flex info-tab mb-2">
      <!--Max Speed-->
      <div class="speed-info me-2">
        Today's<br />Max Speed<br />
        <p class="display-5">45 MPH</p>
      </div>

      <!--Progress-->
      <div class="progress-info">
        Overall<br />Progress<br />
        <p class="display-5">19%</p>
      </div>
    </div>

    <!--Treatment Plan-->
    <div class="treatment-plan">
      <span *ngIf="!noTasks">Today's Treatment Plan</span>
      <div *ngFor="let task of dailyTasks; index as i" class="daily-tasks mt-2">
        <div class="daily-task">
          <div class="checkbox mb-3">
            <input
              class="form-check-input checkbox-round"
              type="checkbox"
              [name]="task.title"
              [value]="task.id"
              [checked]="task.is_completed"
              [disabled]="task.is_completed === 'loading'"
              (change)="updateTask(i)"
            />
          </div>
          <div
            class="task-title"
            [ngClass]="task.is_completed ? 'task-title linethrough mb-3' : 'task-title mb-3'"
            (click)="taskDetails(task)"
          >
            {{ task.title }}
          </div>
          <span
            *ngIf="task.is_completed !== 'loading'"
            (click)="taskDetails(task)"
            class="bi bi-info-circle info-link ms-2 mb-4"
          ></span>
          <span
            *ngIf="task.is_completed === 'loading'"
            class="spinner-border spinner-border-sm ms-2 mb-3"
            role="status"
            aria-hidden="true"
          ></span>
        </div>
      </div>

      <!-- Case: No Assigned Tasks -->
      <div class="empty-tasks mt-5 mb-5" *ngIf="noTasks">
        <img src="../../../../assets/images/noTasksFound.png" height="150" width="150" />
        <p class="display-6">No Tasks Assigned for today</p>
      </div>
    </div>

    <!--Daily Therapy Confirmation-->
    <div class="d-flex button-container mt-4 mb-2" *ngIf="!noTasks">
      <button class="btn btn-primary btn-confirm" type="button" [disabled]="buttonState === 'loading'">
        <span *ngIf="buttonState === 'static'" class="display-6"
          >Daily Therapy Completed <i class="bi bi-check2-all"></i
        ></span>
        <div *ngIf="buttonState === 'loading'">
          <span class="display-6">Daily Tasks are in progress...</span>
        </div>
      </button>
    </div>
  </div>
</div>
