<div class="container-fluid treatment-plan-screen">
  <div class="d-flex treatment-plan-container">
    <div class="title-tab">
      <i class="bi bi-arrow-left mt-1" (click)="navBack()"></i>
      <span class="title display-4">Conte Sports Performance</span>
    </div>
    <hr />

    <div class="d-flex justify-content-center display-5 mb-2">{{ date }}</div>

    <!-- <div class="d-flex info-tab mb-2">
      <div class="speed-info me-2">
        Today's<br />Max Speed<br />
        <p class="display-5">45 MPH</p>
      </div>

      <div class="progress-info">
        Overall<br />Progress<br />
        <p class="display-5">19%</p>
      </div>
    </div> -->

    <!--Treatment Plan-->
    <div class="treatment-plan">
      <span *ngIf="!noTasks">Today's Treatment Plan</span>

      <!-- Placeholders -->
      <span *ngIf="!dailyTasks && !noTasks" class="placeholder-glow">
        <span class="placeholder col-12 mt-4"></span>
      </span>
      <span *ngIf="!dailyTasks && !noTasks" class="placeholder-glow">
        <span class="placeholder col-12 mt-4"></span>
      </span>
      <span *ngIf="!dailyTasks && !noTasks" class="placeholder-glow">
        <span class="placeholder col-12 mt-4"></span>
      </span>

      <div
        *ngFor="let task of dailyTasks; index as i; let last = last"
        [ngClass]="!last ? 'daily-tasks mt-4' : 'daily-tasks last-task mt-4'"
      >
        <div class="daily-task mb-3">
          <div class="checkbox">
            <input
              class="form-check-input checkbox-round"
              type="checkbox"
              [name]="task.title"
              [value]="task.id"
              [checked]="task.is_completed"
              [disabled]="task.is_completed === 'loading'"
              (change)="updateTask(i)"
            />
          </div>
          <div
            class="task-title"
            [ngClass]="task.is_completed ? 'task-title linethrough' : 'task-title'"
            (click)="taskDetails(task)"
          >
            {{ task.title }}
          </div>
          <span
            *ngIf="task.is_completed !== 'loading'"
            (click)="taskDetails(task)"
            class="bi bi-info-circle info-link"
          ></span>
          <span
            *ngIf="task.is_completed === 'loading'"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
        </div>
      </div>

      <!-- Case: No Assigned Tasks -->
      <div class="mt-5 mb-5" *ngIf="noTasks">
        <img src="assets/images/no_tasks_found.png" height="150" width="150" />
        <p class="display-6">No Tasks Assigned for Today</p>
      </div>
    </div>

    <!-- <div class="d-flex button-container mt-4 mb-2" *ngIf="!noTasks">
      <button
        class="btn btn-primary btn-confirm"
        type="button"
        [disabled]="buttonState === 'loading'"
        (click)="navBack()"
      >
        <span *ngIf="buttonState === 'static'" class="display-6"
          >Complete Daily Treatment Plan <i class="bi bi-check2-all"></i
        ></span>
        <span *ngIf="buttonState === 'loading'" class="display-6">Daily Tasks are in progress...</span>
      </button>
    </div> -->

    <!-- Daily Therapy::Status -->
    <div
      *ngIf="!noTasks"
      [ngClass]="!areTasksCompleted ? 'tasks-info mt-4' : 'tasks-info tasks-completed mt-4'"
      [@fade]
    >
      <!-- Placeholder -->
      <span *ngIf="!dailyTasks" class="placeholder-glow">
        <span class="placeholder col-12 mt-4"></span>
      </span>

      <p class="display-5" *ngIf="!areTasksCompleted && dailyTasks" [@fade]>Daily Tasks are in Progress...</p>
      <div *ngIf="areTasksCompleted && dailyTasks" [@fade]>
        <p class="display-5 mb-2">All Tasks Completed for Today<i class="bi bi-check2-all"></i></p>
        <a class="display-6" (click)="navBack()">Return Home</a>
      </div>
    </div>
  </div>
</div>
